@charset "UTF-8";

*{
    box-sizing: border-box;
}

.title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: blue;
    margin: 20px auto;
}


.bingo_table{
    margin: auto;
}

.bingo_table td{
	font-size: 20px;
    font-weight: 500;
	text-align: center;
	width: 100px;
	height: 100px;
    padding: 10px;
    background-color: aqua;
    border-radius: 50%;
}

.bingo_table img{
	width: 60px;
}