@charset "UTF-8";

*{
    box-sizing: border-box;
}

@media screen and (max-width:850px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }


}


@media screen and (max-width:480px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }
}

html{
    background: linear-gradient(180deg, rgb(88, 185, 255), rgb(37, 91, 146));
}

#navbtn{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 25px;
    border-radius: 20px;
    z-index: 2;
}

#navmenu{
    position: fixed;
    background-color: aliceblue;
    z-index: 1;
    overflow: hidden;
}

#navmenu.open {
    animation: navOpen 0.5s forwards;
}

#navmenu.close {
    animation: navClose 0.5s forwards;
}

@keyframes navOpen {
    from{
    height: 0;
    width: 100%;
    }
    to{
    height: 100%;
    width: 100%;
    }
}

@keyframes navClose {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        height: 0;
        width: 100%;
    }
}

body{
	position: relative;
    margin: 0;
}


.flexbox{
    display: flex;
    align-items: stretch;
}

.leftScreen, .rightScreen{
    width: 50%;
}

.leftScreen{
    background-image: url("../img/kokorononami.jpg");
    background-repeat: repeat-y;
    background-size: 100vh;
    background-attachment: fixed;
}

.leftScreen .leftImg{
    width: 100%;
}



.title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 20px auto;
    filter: brightness(1.5);
}

.bingo_table{
    position: relative;
    border-collapse: separate;
    border-spacing: 20px;
    margin: auto;
    background-color: #ffffffb2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
}



.bingo_table td{
	font-size: 20px;
    font-weight: 500;
	text-align: center;
	width: 100px;
	height: 100px;
    padding: 15px;
    border: 3px solid #ffffff;
    background-color: rgba(165, 255, 255, 0.744);
    border-radius: 50%;
}

.bingo_table img{
	width: 60px;
}

#bonusView{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    z-index: 3;
    animation: Hit 5s ease-in-out forwards;
}

@keyframes Hit {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.4;
    }
    100%{
        opacity: 0;
    }
}

#bingoimg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    opacity: 0;
    animation: Hit2 5s ease-in-out forwards;
}

#hitbingo{
    position: fixed;
    content: 'ビンゴ！';
    top: 15%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    color: #ffffff;
    z-index: 5;
    opacity: 0;
    animation: Hit2 5s ease-in-out forwards;
}

@keyframes Hit2 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

