@charset "UTF-8";

*{
    box-sizing: border-box;
}

@media screen and (max-width:850px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }


}


@media screen and (max-width:480px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }
}



.hidden{
    display: none;
}

body{
    margin: 0;
}


.flexbox{
    display: flex;
    align-items: stretch;
}

.leftScreen, .rightScreen{
    width: 50%;
}

.leftScreen{
    background-image: url("../img/kokorononami.jpg");
    background-repeat: repeat-y;
    background-size: 100vh;
    background-attachment: fixed;
}

.leftScreen .leftImg{
    width: 100%;
}
