@charset "UTF-8";


.period {
	font-size: 1.5rem;
	text-align: center;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
}

/*分析結果*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}


.large {
	grid-column: span 2;
	width: 100%;
	display: flex;
	justify-content: center; 
	max-width: 400px;
	margin: 0 auto;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.boxTitle {
	font-size: 1.4rem;
}
.boxContent {
  padding: 4px 8px;
  font-size: 2.6rem;
  font-style: bold;
}
.analysisCmt {
	padding: 15px;
}
/**/
*{
    box-sizing: border-box;
}

@media screen and (max-width:850px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }


}


@media screen and (max-width:480px){
    html{
        background-color: rgb(255, 255, 255);
    }

    .leftScreen{
        display: none;
    }

    .rightScreen{
        min-width: 768px;
        width: 100%;
        margin: auto;
    }
    
.container {
    grid-template-columns: 1fr; /* 1列にする */
    transform: scale(1.1);
    height: 55vh;
    justify-items: center;
  }
  
  .large {
    grid-column: span 1;
  }
  
.chart-container {
    width: 95%;
    height: 75vh;
  }
  
.boxContent {
    font-size: 8vw;
  }
  
}



.hidden{
    display: none;
}

body{
    margin: 0;
}


.flexbox{
    display: flex;
    align-items: stretch;
}

.leftScreen, .rightScreen{
    width: 50%;
}

.leftScreen{
    background-image: url("../img/kokorononami.jpg");
    background-repeat: repeat-y;
    background-size: 100vh;
    background-attachment: fixed;
}

.leftScreen .leftImg{
    width: 100%;
}


