@charset "UTF-8";

.period {
	font-size: 1.5rem;
	text-align: center;
	color: #2589d0;
}

.periodWeek {
	color: #FFFFFF;
    background-color: #2589d0;
    border-radius: 15px;
    padding: 10px;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  
}

/*分析結果*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}


.large {
	grid-column: span 2;
	width: 100%;
	display: flex;
	justify-content: center; 
	max-width: 400px;
	margin: 0 auto;
}


.box {
  display: flex;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.boxTitle {
	font-size: 1.4rem;
	color: #2589d0;
}
.boxContent {
  padding: 4px 8px;
  font-size: 2.6rem;
  font-style: bold;
}
.analysisCmt {
	padding: 15px;
}

/*モバイル対応処理*/

@media screen and (max-width:850px){

}


@media screen and (max-width:480px){

	.container {
	    grid-template-columns: 1fr; /* 1列にする */
	    transform: scale(1.1);
	    height: 55vh;
	    justify-items: center;
	  }
	  
	  .large {
	    grid-column: span 1;
	  }
	  
	.chart-container {
	    width: 95%;
	    height: 75vh;
	  }
	  
	.boxContent {
	    font-size: 8vw;
	  }
}


